@media only screen and (max-width: 768px) {

    /*elements*/
    button {
        margin: 5px;
        padding: 5px 10px;
    }

    input[type="text"] {
        width: 40%;
        margin: 5px;
    }

    select {
        margin: 5px;
        margin-left: 0;
        width: 40%;

    }

    label {
        margin: 5px;
    }

    /*divs and their arrangements*/
    /*lobby*/
    .wrapper-lobby {
        width: 90%;
    }

    .getlink {
        width: 90%;
    }

    #linktosend {
        width: 90%;
        flex-direction: column;
        margin-top: 10px;
    }

    #linkstring {
        font-size: x-small;
    }

    /*divs and their arrangements*/
    /*game*/
    #game {
        gap: 10px;
        flex-direction: column-reverse;
    }

    #sideboard {
        position: sticky;
        top: 5%;
        width: 100%;
        flex-shrink: 0;
        height: 200px;
        padding: 10px;
    }

    /*overlay and popups*/
    .popup {
        top: 15%;
    }
}