/*global*/
body {
    margin: 0;
    padding: 20px;
    background-color: #efefef;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    text-align: center;
    color: #333;
}

button {
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #1976D2;
}
button:active {
    background-color: #0000aa;
}

/*elements*/
button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 4px;
}

input[type="text"] {
    width: 60%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px;
}

input[type="checkbox"] {
    margin: 10px;
    background-color: #1976D2;
}

select {
    margin: 10px;
    margin-left: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    height: 30px;
    width: 270px;

}

label {
    margin: 10px;
    margin-right: 3px;
    padding: 3px;
    font-size: small;
}

.getlink, #linktosend, #sideboard, #mySide, .popup {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); 
  }

/*divs and their arrangement*/
/*lobby*/
.wrapper-lobby {
    width: 800px;
    margin: 0;
    position: absolute;

    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.getlink {
    display: flex;
    flex-direction: column;
    align-items: left;
    background: white;
    border-radius: 8px;
    width: 600px;
}

#linktosend {
    background-color: rgba(139, 205, 252, 0.466);
    width: 600px;
    margin-top: 20px;

    border-radius: 8px;

    display: none;
    flex-direction: column;
    align-items: left;
}

#linkstring {
    font-size: small;
    font-style: italic;
}

/*divs and their arrangement*/
/*game*/
#game {
    display: flex;
    gap: 20px;
    height: 100vh;
}

#sideboard {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    flex-shrink: 0;
    width: 300px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}

#current {
    width: 100%;
    min-height: 40px;
    padding: 10px;
    background: #e3f2fd;
    border-radius: 4px;
    margin-bottom: 10px;

    text-align: center;
    vertical-align: middle;
}

#gameControls {
    display: flex;
    margin-bottom: 20px;
}

#gameControls button {
    flex: 1;
    width: 85px;
    min-height: 36px;
    text-align: center;
    vertical-align: center;
}

#lists {
    margin-top: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

#oppSidePop{
    display: none;
}

#myList, #oppSide {
    width: 95%;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 4px;
    overflow: auto;
    font-size: 0.8em;
}

#mySide {
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    overscroll-behavior-y: auto;

    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    min-height: 200px;
    width: min-content;
}

#mySide img[src="throbber.gif"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* overlay and popups*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
    display: none;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;

    flex-direction: column;
    align-items: center;
}

.popup.active {
    display: flex;
}