@media only screen and (max-width: 768px) {

    /*elements*/
    body {
        padding: 0;
    }

    button {
        margin: 5px;
        padding: 5px 10px;
    }

    input[type="text"] {
        width: 40%;
        margin: 5px;
    }

    select {
        margin: 5px;
        margin-left: 0;
        width: 40%;

    }

    label {
        margin: 5px;
    }

    /*divs and their arrangements*/
    /*lobby*/
    .wrapper-lobby {
        width: 90%;
    }

    .getlink {
        width: 90%;
    }

    #linktosend {
        width: 90%;
        flex-direction: column;
        margin-top: 10px;
    }

    #linkstring {
        font-size: x-small;
    }

    /*divs and their arrangements*/
    /*game*/
    #game {
        height: 100vh;
        width: 100%;
        overflow: hidden;

        position: relative;
        flex-direction: column-reverse;

        gap: 10px;
    }

    #sideboard {
        position: fixed;
        top: 0;
        left: 0;
        width: 94%;
        z-index: 10;
        padding: 10px 15px;

        height: 190px;
        box-shadow: none;
        border-radius: 0;
    }

    #current {
        padding: 5px;
        margin-bottom: 10px;
    }

    #gameControls {
        margin-bottom: 10px;
    }

    #gameControls button {
        flex: 1;
        width: 100px;
        height: 40px;
        min-height: 44px;
        margin: 5px 3px;
    }

    #oppSidePop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        padding: 10px;
        background: #f5f5f5;
        border-radius: 4px;
        font-size: 0.8em;
    }

    #lists {
        display: none;
    }

    #mySide {
        margin-top: 200px;
        flex: 1;
        overflow-x: none;
        -webkit-overflow-scrolling: touch;
        padding: 0;
        width: 100%;

        box-shadow: none;
        border-radius: 0;
    }

    #wikicontent {
        padding: 10px;
    }

    /*overlay and popups*/
    .popup {
        width: 90%;
        max-width: 400px;
        top: 20%; 
      }
}